.header-container{
    display:flex;
    width:90%;
    padding:10px;
    justify-content: space-between;
}

.header-image{
    height:20%;
    width:20%;
}

.header-text{
    font-family: 'Rampart One', cursive;
    font-size:28px;

}